<% if @paralysed %>
  <h1><%= @current_turn.name %> is paralysed </h1>

<% elsif @action %>
  <h1><%= @current_turn.name %> <%=@action%> </h1>
<% end %>

<form action="/play" method="get">
  <input type="submit" value="Continue">
</form>